<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="go" />
  <package id="rust" />
  <package id="corretto17jdk" />
  <package id="dotnet" />
  <package id="dotnet-sdk" />
  <packages>
  <package id="visualstudio2022buildtools" 
           packageParameters="--add Microsoft.VisualStudio.Workload.VCTools --includeRecommended --passive" />
</packages>
</packages>
