<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- GNU Make -->
  <package id="make" />
  <!-- Language (Bytecode) Platforms  -->
  <package id="corretto17jdk" />
  <package id="dotnet-sdk" />
  <!-- Language Compilers -->
  <package id="go" />
  <package id="rust" />
  <package id="visualstudio2022buildtools" 
           packageParameters="--add Microsoft.VisualStudio.Workload.VCTools --includeRecommended --passive" />
</packages>
